@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

//google font
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$sheepSizing: 40px;
$backgroundColour: linear-gradient(#c9f3ac, #f7f586);

/*
* general
*/
html {
    height: 100vh;
}

body {
    background: $backgroundColour;
    height: 100%;
    font-family: 'Fredoka One', cursive;
}

//fix to stop modal adding right padding to body when modal shown
.fix[style] {
    padding-right: 0 !important;
}

/*
* Field and sheep
*/
.sheep {
    width: $sheepSizing;
    height: $sheepSizing;
    fill: #fff;

    &:hover {
        cursor: pointer;
    }

    &.selected {
        fill: #00ffff !important;
    }

    &.branded {
        fill: #9acd32;
    }
}

.field {
    min-height: 50vh;
}

/*
* menu and form 
*/
.menu-container {
    padding-top: 1em;
}

.menu-btns {
    display: flex;
    flex-direction: column;

    button:first-child {
        margin: 0 0 0.5em 0;
    }
}

.add-sheep-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    button {
        margin: 0.5em 0;
    }

    label:hover {
        cursor: pointer;
    }
}

.sheep-name {
    width: 100%;
}

.gender-radio:hover {
    cursor: pointer;
}

@include media-breakpoint-up(lg) {
    .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-btns {
        flex-direction: row;

        button:first-child {
            margin:0 0.5em 0 0;
        }
    }
    
    .add-sheep-form {
        justify-content: unset;

        button {
            margin-left: 1em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .sheep-name {
        width: auto;
    }
}