$sheepSizing: 40px;

.gender-radio:hover {
    cursor: pointer;
}

.sheep {
    width: $sheepSizing;
    height: $sheepSizing;
    fill: #fff;

    &:hover {
        cursor: pointer;
    }

    &.selected {
        fill: #00ffff;
    }

    &.branded {
        fill: #9acd32;
        pointer-events: none;
    }
}

.field {
    min-height: 50vh;
}