@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$sheepSizing: 40px;

.gender-radio:hover {
    cursor: pointer;
}

.sheep {
    width: $sheepSizing;
    height: $sheepSizing;
    fill: #fff;

    &:hover {
        cursor: pointer;
    }

    &.selected {
        fill: #00ffff;
    }

    &.branded {
        fill: #9acd32;
        pointer-events: none;
    }
}

.field {
    min-height: 50vh;
}

/*
* menu and form 
*/
.menu-container {
    margin-top: 1em;
}

.menu-btns {
    display: flex;
    flex-direction: column;

    button:first-child {
        margin: 0 0 0.5em 0;
    }
}

.add-sheep-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    button {
        margin: 0.5em 0;
    }

    label:hover {
        cursor: pointer;
    }
}

.sheep-name {
    width: 100%;
}

@include media-breakpoint-up(lg) {
    .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-btns {
        flex-direction: row;

        button:first-child {
            margin:0 0.5em 0 0;
        }
    }
    
    .add-sheep-form {
        justify-content: unset;

        button {
            margin-left: 1em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .sheep-name {
        width: auto;
    }
}